.svg-main {
  margin-top: 100px;
  width: 90%;
  height: 90%;
}

.svg-secondary {
  width: 35%;
  height: 35%;
  float: right;
  display: inline-block;
}
nav {
  display: inline-block;
}
.header {
  position: fixed;
  width: 100%;
}

h2 {
  text-transform: uppercase;
  font-size: 5vw;
}
h3 {
  text-transform: uppercase;
}
h4 {
  text-transform: uppercase;
}

h1 {
  text-transform: uppercase;
  font-size: 9vw;
}
a h1 {
  color: black;
  text-decoration: underline;
  cursor: pointer;

}
p a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
p {
   font-size: 1.8vw;
}
