.svg-main {
  width: 50%;
  height: 50%;

}
h3 {
  text-transform: uppercase;
}
h4 {
  text-transform: uppercase;
}

h1 {
  text-transform: uppercase;
}
a h1 {
  color: black;
  text-decoration: underline;
  cursor: pointer;

}
p a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
